body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  margin: 0;
  overflow: hidden;
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;

}
.name {
  color: white;
  text-decoration: none;
  padding-left: 5vw;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}

/* COPY TO OTHER CSS FILES! */
header {
  position: relative;
  top: 30px;
}
.page-heading {
  position: relative;
  margin-left: 4vw;
  font-style: normal;
  font-size: 100px;

}
.page-heading-sub {
  margin-left: 10vw;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.6rem;
}


main {
  margin: 3vw 50vw 2vw 10vw;
  line-height: 20px;
}
/* main {
  margin: 3vw 5vw 2vw 5vw;
  line-height: 20px;
} */
p {

}
.contact-link {
  text-decoration: none;
}
.last-p {
  font-style: italic;
}
footer {
  margin: 0vw 4vw 2vw 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img {
  height: 8vw;
  width: 13vw;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.websiteFrame {
     position: fixed;
     z-index: 990;
     background-color: black;
}
#websiteFrameBottom {
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30px;
 }

@media screen and (max-width: 1300px) {

main {
  margin: 8vw 25vw 8vw 8vw;
}
}

@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .name {
    font-size: 1rem;
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/5;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.8rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.8rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.8rem;
}

main {
  margin: 10vw 25vw 8vw 10vw;
}
}

@media screen and (max-width: 810px) {

.page-heading-sub {
  letter-spacing: 0.2rem;
}
main {
  margin: 10vw;
  text-align: justify;
}
}

@media screen and (max-width: 660px) {

.page-heading-sub {
  font-size: 20px;
  letter-spacing: 0.2rem;
  margin-left: 5vw;
}
footer {
  margin: 0vw 4vw 2vw 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.page-heading {
  font-size: 80px;
}
}
@media screen and (max-width: 550px) {
  .name {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}
}
@media screen and (max-width: 550px) {

  .page-heading {
    font-size: 60px;
  }
}
