body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  margin: 0;
  overflow: hidden;
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 250px 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;
  grid-template-rows: 100px;

}
.logo {
  height: 100px;
}
.name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}
header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 500px 1fr;
  position: relative;
  top: 30px;
}
.page-heading {
  position: relative;
  margin-left: 4vw;
  font-style: normal;
  font-size: 100px;

}
button {
  height: 50px;
  width: 90px;
  background-color: #00D1B8;
  border: solid black 1px;
  border-radius: 100px;
  box-shadow: 4px 4px 10px #0A2342;
  align-self: center;
  justify-self: end;
  padding-top: 5px;
  margin-right: 12vw;
  font-size: 15px;
}
.button {
  color: #0A2342;
  text-decoration: none;

}





.btn {
  border-radius: 4px;
  border: 2px solid #009CD0;
  color: #009CD0;
  display: inline-block;
  margin: 0 .25em;
  overflow: hidden;
  padding: 24px 60px 24px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.btn .btn-content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}
.btn .icon {
  border-left: 1px solid #009CD0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.btn .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.btn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #009CD0;
  opacity: 0;
  transition: opacity 300ms ease;
}
.btn:hover .btn-content {
  right: 100%;
}
.btn:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}
.btn:hover:after {
  opacity: .2;
}
.btn.btn-alt-color {
  border-color: salmon;
  color: salmon;
}
.btn.btn-alt-color .icon {
  border-left-color: salmon;
}
.btn.btn-alt-color:after {
  background-color: salmon;
}






main {
  margin: 3vw 50vw 2vw 10vw;
  line-height: 20px;
}
p {

}
.last-p {
  padding-top: 20px;
  font-size: 0.8rem;
  font-style: italic;
}
.link {
  text-decoration: none;
}
footer {
  margin: 0vw 4vw 2vw 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.img {
  height: 8vw;
  width: 13vw;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.websiteFrame {
     position: fixed;
     z-index: 990;
     background-color: black;
}
#websiteFrameBottom {
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30px;
 }

@media screen and (max-width: 1300px) {

main {
  margin: 8vw 25vw 8vw 8vw;
}
}

@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .name {
    font-size: 1rem;
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/5;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.8rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.8rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.8rem;
}

main {
  margin: 10vw 25vw 8vw 10vw;
}
}

@media screen and (max-width: 810px) {
  main {
    margin: 10vw;
    text-align: justify;
}
}
@media screen and (max-width: 660px) {
  footer {
    margin: 0vw 4vw 2vw 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.page-heading {
  font-size: 80px;
}
}
@media screen and (max-width: 550px) {
  .name {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}
}
@media screen and (max-width: 550px) {
  .page-heading {
    font-size: 60px;
  }
}
