body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;
  padding-right: 2vw;

}
.name {
  color: white;
  text-decoration: none;
  padding-left: 5vw;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}
header {
  position: relative;
  top: 30px;
}
.page-heading {
  position: relative;
  top: 5px;
  margin-left: 4vw;
  font-style: normal;
  font-size: 100px;

}
.page-heading-sub {
  margin-left: 10vw;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.6rem;
}
main {
  height: 100vh;
  width: 100vw;
}
main div {
  margin: auto;
  height: 500px;
  width: 60vw;
}
.icon-list {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.icon-list a {
  text-decoration: none;
  color: grey;
}

.email-icon {
}
.linkedin-icon {
margin: 0 50px 0 40px;

}
.github-icon {

}
em {
  position: relative;
  bottom: 20px;
  margin-right: 5vw;
  float: right;
  font-size: 25px;
}














@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 2vw;
  }
  .nav-item1 {
    padding-left: 140px;
  }
  .nav-item2 {
    padding-left: 100px;
  }
  .nav-item3 {
    padding-left: 80px;
    /* margin-right: 10px; */
  }
  .logo {
    height: 120px;
    width: 120px;
}
  .name {
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/4;
    align-self: center;
  }
}

@media screen and (max-width: 700px) {

.page-heading {
font-size: 70px;
}
{
