body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  background: #b9bbba;

}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 250px 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;
  grid-template-rows: 100px;

}
.logo {
  height: 100px;
}
.name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}
header {
  position: relative;
  top: 30px;
}
.page-heading {
  position: relative;
  top: 2vw;
  margin-left: 4vw;
  font-style: normal;
  font-size: 80px;
  color: white;
  text-shadow: 0px 0px 50px black;

}
.page-heading-sub {
  margin-left: 10vw;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.6rem;
}
main {
  height: 100vh;
  width: 100vw;
}
main div {
  margin: auto;
  height: 500px;
  width: 60vw;
}
.icon-list {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.icon-list a {
  text-decoration: none;
  color: #3F403F;
}
/* #3F403F */

.email-icon {
}
.linkedin-icon {
}
.github-icon {
}
em {
  position: relative;
  bottom: 20px;
  margin-right: 5vw;
  float: right;
  font-size: 25px;
}
.websiteFrame {
     position: fixed;
     z-index: 990;
     background-color: black;
}
#websiteFrameBottom {
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30px;
 }



 @-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.wobble:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



.float {
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.float:hover {
  -webkit-transform:translate(0px,-10px);
  -moz-transform:translate(0px,-10px);
  -ms-transform:translate(0px,-10px);
  -o-transform:translate(0px,-10px);
  transform:translate(0px,-10px);
}



.grow {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}

.grow:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}



@media screen and (max-width: 950px) {
  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .name {
    font-size: 1rem;
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/5;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.8rem;
  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.8rem;
  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.8rem;
}
}
@media screen and (max-width: 700px) {

.page-heading {
font-size: 70px;
}
}
@media screen and (max-width: 550px) {
  .name {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}
  .page-heading {
    font-size: 45px;
  }
  em {
    font-size: 20px;
  }
}
