body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  /* overflow: hidden; */
}
.background-image {
  position: absolute;
  width: 100vw;
  z-index: -100;
  /* padding-bottom: 3px;
  border-bottom: solid black 1vw; */
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 160px 3fr 0.4fr 0.4fr 0.5fr;
  align-items: center;
  grid-template-rows: 100px;
  position: fixed;
  top: 0;
  width: 100%;
}
.blueline {
  margin-left: 102px;
  position: relative;
  top: 97px;
  border: solid #00C6B3 2px;
}
.logo {
  height: 102px;
}
.name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.6rem;
  font-style: normal;
  padding-left: 10px;
}
.nav-item {
  font-size: 11px;
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.text {
  padding-top: 25vw;
  padding-left: 4vw;
}
.code-symbol {
  font-size: 40px;
  color: white;
}
.h1 {
  font-style: normal;
  font-size: 40px;
  color: white;
  /* text-shadow: 0px 0px 50px black; */
}
}
i {
  font-style: normal;
}
p {
  font-style: normal;
  padding-left: 10vw;
  font-size: 20px;
  padding-top: 5vw;
  line-height: 2rem;
  display: grid;
  grid-template-rows: 30px 30px;
  grid-template-columns: 410px 1fr;
}
.p1 {
  font-style: normal;
}
.p2 {
  font-style: normal;
grid-row: 2;
}
.p3 {
  font-style: normal;
grid-row: 2;
}
.process {
  font-style: normal;
  padding-left: 20vw;
  font-size: 18px;
  padding-top: 8vw;
  color: white;
}
.care {
  font-style: normal;

  padding-right: 4vw;

}
.empathise {
  font-style: normal;

  padding-right: 4vw;

}
.define {
  font-style: normal;

  padding-right: 4vw;

}
.solve {
  font-style: normal;

  padding-right: 4vw;

}
.websiteFrame {
     position: fixed;
     z-index: 990;
     background-color: black;
}
#websiteFrameBottom {
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30px;
 }
@media screen and (max-width: 1080px) {
  .text {
    padding-top: 20vw;
    padding-left: 4vw;
  }
  p {
    padding-left: 4vw;
  }
  .process {
    padding-left: 8vw;
  }
}

@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .name {
    font-size: 1rem;
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/5;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.8rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.8rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.8rem;

  }
  .h1 {
    font-size: 30px;
  }
  p {
    padding-left: 4vw;
    font-size: 15px;
    grid-template-columns: 288px 1fr;

  }
  .process {
    padding-left: 8vw;
    font-size: 15px;
  }
}

@media screen and (max-width: 680px) {
  .text {
    padding-top: 25vw;
    padding-left: 4vw;
  }
  .h1 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
    padding-left: 10vw;
    grid-template-rows: 30px 30px 30px;
    padding-top: 0vw;

  }
  .p3 {
    grid-row: 3;
  }
  .process {
    font-size: 13px;
    padding-left: 20vw;
    padding-top: 3vw;
  }
}
@media screen and (max-width: 580px) {
  .text {
    padding-top: 22vw;
    padding-left: 4vw;
  }
  .h1 {
    font-size: 17px;
  }
  p {
    font-size: 13px;
    padding-left: 10vw;
    grid-template-rows: 17px 17px 17px;
    padding-top: 0vw;
  }
  .process {
    font-size: 11px;
    padding-left: 15vw;
    padding-top: 2vw;
  }
}

@media screen and (max-width: 550px) {
  .name {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}
}
@media screen and (max-width: 430px) {
  p {
    font-size: 13px;
    padding-left: 3vw;
    grid-template-rows: 17px 17px 17px;
    padding-top: 0vw;
  }
  .process {
    font-size: 11px;
    padding-left: 9vw;
    padding-top: 2vw;
  }
}
