body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  margin: 0;
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 250px 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;
  grid-template-rows: 100px;

}
.logo {
  height: 100px;
}
.name {
  color: white;
  text-decoration: none;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}
header {
  position: relative;
  top: 30px;
  margin-bottom: 60px;
}
.page-heading {
  position: relative;
  margin-left: 4vw;
  font-style: normal;
  font-size: 100px;

}
.page-heading-sub {
  margin-left: 10vw;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.6rem;
}
.header-box {
  padding: 0 10px 0 10px;
  margin: 55px auto 0 auto;
  width: 90%;
  border: solid grey 5px;
  border-radius: 20px;
  background-color: #EAECEE;
}
.heading {
  margin: 15px;
  text-align: center;
  font-size: 2rem;
}
.description-summary {
  text-align: center;
}
.screenshots {
  margin: 55px 5vw 3vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.images {
  width: 40vw;
  max-width: 300px;
  height: 40vw;
  max-height: 300px;
  border: solid 5px #ddd;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #7C7C7C, -8px 8px 10px #7C7C7C;
}
.footer-box {
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 55px auto 0 auto;
  width: 90%;
  border: solid grey 5px;
  border-radius: 20px;
  background-color: #808B96;
  color: #F2F4F4;
  font-weight: 400;
}
a {
  text-decoration: none;
  color:
}
.divider {
  height: 50px;
}

@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    justify-items: center;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .name {
    font-size: 1rem;
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/5;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.8rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.8rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.8rem;
}
  .header-box {
    grid-template-rows: 30px 40px;
    grid-template-columns: 1fr;
  }
  .description-summary {
    grid-row: 2;
  }

  .screenshots {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .images {
    width: 60vw;
    height: 60vw;
}
}

@media screen and (max-width: 810px) {

.page-heading-sub {
  letter-spacing: 0.2rem;
}
}

@media screen and (max-width: 660px) {

.page-heading-sub {
  margin-left: 1vw;
  font-size: 20px;
  letter-spacing: 0.2rem;
}
.page-heading {
  font-size: 80px;
}
}
@media screen and (max-width: 550px) {
  .name {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  .nav-item1 {
    grid-column: 2/3;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item2 {
    grid-column: 3/4;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;

  }
  .nav-item3 {
    grid-column: 4/5;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}
.page-heading {
  font-size: 60px;
}

}
@media screen and (max-width: 420px) {
  .page-heading-sub {
    font-size: 18px;
    letter-spacing: 0.0rem;
  }
