body {
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}
nav {
  background-color: black;
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr 3fr 0.6fr 0.6fr 0.6fr;
  align-items: center;
  padding-right: 2vw;

}
.name {
  color: white;
  text-decoration: none;
  padding-left: 5vw;
  letter-spacing: 0.6rem;
  font-style: normal;
}
.nav-item {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.2rem;
}
header {
  position: relative;
  top: 30px;
}
.page-heading {
  position: relative;
  top: 5px;
  margin-left: 4vw;
  font-style: normal;
  font-size: 100px;

}
.page-heading-sub {
  margin-left: 10vw;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.6rem;
}

.project {
  padding: 5vw 0 0 5vw;

}
.heading {
  font-style: normal;
  font-size: 30px;

}
.description-summary {
  font-style: normal;
  padding-left: 5vw;

}
.screenshots {
  margin: 3vw 5vw 3vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.img {
  width: 40vw;
  height: 40vw;
  border: solid 5px #ddd;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #7C7C7C, -8px 8px 10px #7C7C7C;
}


@media screen and (max-width: 950px) {

  nav {
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 2vw;
  }
  .nav-item1 {
    padding-left: 140px;
  }
  .nav-item2 {
    padding-left: 100px;
  }
  .nav-item3 {
    padding-left: 80px;
    /* margin-right: 10px; */
  }
  .logo {
    height: 120px;
    width: 120px;
}
  .name {
    padding-left: 0px;
    letter-spacing: 0.6rem;
    grid-column: 2/4;
    align-self: center;
  }
  .screenshots {
    /* margin: 10vw; */
    /* display: block; */
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .img {
    width: 60vw;
    height: 60vw;
}
.img2 {
  margin-top: 3vw;
}
}

@media screen and (max-width: 810px) {

.page-heading-sub {
  letter-spacing: 0.2rem;
}
}

@media screen and (max-width: 660px) {

.page-heading-sub {
  font-size: 20px;
  letter-spacing: 0.2rem;
  margin-left: 5vw;

}
}
